<%= render 'shared/errors', obj: @chef %>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(@chef, :html => {class: "form-horizontal", role: "form" }) do |f| %>
     
      
      <div class="form-group">
        <%= f.label :chefname %>
        <%= f.text_field :chefname, class: "form-control", 
                                placeholder: "Chef Name", 
                                autofocus: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", 
                                 placeholder: "Email" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", 
                                 placeholder: "Must be at least 5 characters" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confrimation, "Confirm Password" %>
        <%= f.password_field :password_confrimation, class: "form-control", 
                                 placeholder: "Confirm Password" %>
      </div>
      
      
      <div class="form-group">
        <%= f.submit "#{action} Account", class: "btn btn-primary" %>
      </div>
      
    <% end %>
    
    <%= link_to "Cancel", :back %>
    
    <hr>
    
    <% if logged_in? && (current_chef == @chef || current_chef.admin?) %>
      <%= link_to "Delete Account", chef_path(@chef), method: :delete, 
                                     class: "btn btn-sm btn-outline-danger",
                                     data: { confirm: "Are you sure you want to delete this account and all corresponding recipes?" } %>
    <% end %>
  </div>
</div> 