<% @recipes.each do |recipe| %>
  <h4><%= link_to recipe.name.capitalize, recipe_path(recipe.id) %></h4>
  <p><%= truncate(recipe.description, length: 75) %></p>
  
  <div class="card bg-dark">
    <div class="card-block created-by-card">
      <div class="row">
        <div class="col-sm-3">
          <%= gravatar_for(recipe.chef) %>
        </div>
        <div class="col-sm-9 recipe-card">
          <span>Created by: <%= recipe.chef.chefname %>, <%= time_ago_in_words(recipe.created_at) %> ago</span>
          <% if recipe.comments.count > 0 %>
            <p class="text-muted"><small><%= pluralize(recipe.comments.count, "comment") %></small></p>
          <% end %>
        </div>
      </div>
      
      
    </div>
  </div>
  <hr>
<% end %>

