

<% @recipes.each do |recipe| %>
  <h4><%= link_to recipe.name.capitalize, recipe_path(recipe.id) %></h4>
  <p><%= truncate(recipe.description, length: 75) %></p>
  
  <div class="card bg-dark">
    <div class="card-block created-by-card">
      <%= gravatar_for(recipe.chef) %>
      <span>Created by: <%= recipe.chef.chefname %>, <%= time_ago_in_words(recipe.created_at) %> ago</span>
    </div>
  </div>
  <hr>
<% end %>

